<script>
import TheMainNav from '~/components/TheMainNav.vue';
import TheFooter from '~/components/TheFooter.vue';

export default {
  components: {
    TheMainNav,
    TheFooter,
  },
};
</script>

<template>
  <div class="DefaultLayout">
    <TheMainNav/>
    <div class="Content">
      <nuxt/>
    </div>
    <TheFooter/>
  </div>
</template>

<style lang="scss">
.DefaultLayout {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: rem-calc(60);
}

.Content {
  flex-grow: 1;
  padding-bottom: rem-calc(60);
}
</style>
