<script>
export default {
  props: {
    href: {
      type: String,
      default: '',
    },
    cssClasses: {
      type: Object,
      default () {
        return {
          Button: true,
        };
      },
    },
  },
};
</script>

<template>
  <nuxt-link
  :class="cssClasses"
  :to="href"
  >
    <slot/>
  </nuxt-link>
</template>

<style lang="scss">
.Button {
  background-color: $dark-accent;
  border-radius: rem-calc(3);
  color: $light-shade;
  display: inline-block;
  font-weight: 600;
  padding: rem-calc(10) rem-calc(20);
  text-align: center;
  transition:
    background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out, color 250ms ease-in-out,
    color 250ms ease-in-out, color 250ms ease-in-out;
}

.Button:hover,
.Button:focus {
  background-color: transparentize($dark-accent, 0.1);
  color: $light-shade;
}

.Button--empty {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem-calc(1) $dark-accent;
  color: $dark-accent;
}

.Button--empty:hover,
.Button--empty:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem-calc(2) transparentize($dark-accent, 0.1);
  color: transparentize($dark-accent, 0.1);
}

.Button--secondary {
  background-color: $secondary-color;
}

.Button--secondary:hover,
.Button--secondary:focus {
  background-color: transparentize($secondary-color, 0.1);
}
</style>
