<script>
export default {
  props: {
    features: {
      type: Array,
      default () {
        return [];
      },
    },
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<template>
  <div class="BaseFeatures">
    <h2
    v-if="title"
    class="BaseFeatures-title"
    >
      {{ title }}
    </h2>
    <div class="BaseFeatures-items">
      <div
      v-for="(feature, i) in features"
      :key="i"
      class="BaseFeature"
      >
        <div class="BaseFeature-icon">
          <svg
          class="BaseFeature-iconBackground"
          viewBox="0 0 29 30"
          xmlns="http://www.w3.org/2000/svg"
          >
            <path
            d="M26.375 1.778c4.645 4.182-.572 24.247-7.439 26.943C12.795
            31.132-1.46 18.578.358 11.993 2.259 5.106 21.73-2.404 26.375 1.778z"
            fill-rule="evenodd"
            />
          </svg>
          <BaseIcon :icon="['far', feature.icon]"/>
        </div>
        <div class="BaseFeature-body">
          <h4 class="BaseFeature-title">
            {{ feature.title }}
          </h4>
          <p class="BaseFeature-description">
            {{ feature.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="BaseFeatures-footer"><slot name="footer"/></div>
  </div>
</template>

<style lang="scss">
.BaseFeatures {
  margin-bottom: rem-calc(40);
  padding-bottom: rem-calc(20);
  padding-top: rem-calc(20);

  @include breakpoint(small) {
    padding-bottom: rem-calc(40);
    padding-top: rem-calc(40);
  }
}

.BaseFeatures-title {
  text-align: center;
}

.BaseFeatures-items {
  display: grid;
  grid-column-gap: rem-calc(20);
  grid-row-gap: rem-calc(40);

  @include breakpoint(small) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.BaseFeatures-items:not(:first-child) {
  margin-top: rem-calc(20);

  @include breakpoint(medium) {
    margin-top: rem-calc(40);
  }
}

.BaseFeature {
  align-items: flex-start;
  display: flex;
}

.BaseFeature-icon {
  font-size: rem-calc(24);
  margin-bottom: rem-calc(20);
  margin-right: rem-calc(10);
  padding: rem-calc(20);
  position: relative;
  width: rem-calc(64);
  z-index: 1;
}

.BaseFeature-iconBackground {
  fill: $secondary-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.BaseFeature-body {
  padding-left: rem-calc(10);
  padding-top: rem-calc(10);
}

.BaseFeature-title {
  text-transform: uppercase;
}

.BaseFeatures-footer:not(:empty) {
  font-size: rem-calc(20);
  margin-top: rem-calc(40);
  text-align: center;
}
</style>
