<script>
import BaseBoardLogic from './BaseBoardLogic.vue';

export default {
  components: {
    BaseBoardLogic,
    WidgetTodos: () => import('./WidgetTodos.vue'),
    WidgetRssFeed: () => import('./WidgetRssFeed.vue'),
  },
  props: {
    boardId: {
      type: String,
      default: '',
    },
  },
};
</script>

<template>
  <BaseBoardLogic :board-id="boardId">
    <div
    slot-scope="{ board, getWidgetsForColumn }"
    class="Board"
    >
      <div
      :class="[
        'Board-widgets',
        `Board-widgets--${board.config.columnsCount}Columns`,
      ]"
      >
        <div
        v-for="n in board.config.columnsCount"
        :key="n"
        class="Board-widgetsColumn"
        >
          <component
          v-for="widget in getWidgetsForColumn({ currentColumn: n })"
          :is="`widget-${widget.type}`"
          :key="widget.id"
          :board-id="board.id"
          :widget-id="widget.id"
          />
        </div>
      </div>
    </div>
  </BaseBoardLogic>
</template>

<style lang="scss">
.Board-widgets {
  align-items: flex-start;
  background-color: $primary-color;
  display: flex;
  flex-flow: row wrap;
  margin-left: rem-calc(20) * -1;
  padding: rem-calc(20);
}

.Board-widgetsColumn {
  flex: 0 0 100%;
  padding-left: rem-calc(20);
}

.Board-widgets--2Columns .Board-widgetsColumn,
.Board-widgets--3Columns .Board-widgetsColumn,
.Board-widgets--4Columns .Board-widgetsColumn,
.Board-widgets--5Columns .Board-widgetsColumn {
  @include breakpoint(small) {
    flex-basis: (100% / 2);
  }
}

.Board-widgets--3Columns .Board-widgetsColumn,
.Board-widgets--4Columns .Board-widgetsColumn,
.Board-widgets--5Columns .Board-widgetsColumn {
  @include breakpoint(medium) {
    flex-basis: (100% / 3);
  }
}

.Board-widgets--4Columns .Board-widgetsColumn,
.Board-widgets--5Columns .Board-widgetsColumn {
  @include breakpoint(large) {
    flex-basis: (100% / 4);
  }
}

.Board-widgets--5Columns .Board-widgetsColumn {
  @include breakpoint(verylarge) {
    flex-basis: (100% / 5);
  }
}
</style>
