<template>
  <div class="Hero">
    <div class="o-container">
      <div class="Hero-title">
        <slot name="title"/>
      </div>
      <div class="Hero-content">
        <slot name="content"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.Hero {
  align-items: center;
  display: flex;
  margin-bottom: rem-calc(40);
  padding-bottom: rem-calc(20);
  padding-top: rem-calc(20);

  @media (min-height: 40em) {
    min-height: rem-calc(300);
  }

  @media (min-height: 50em) {
    min-height: rem-calc(400);
  }
}

.Hero-content {
  max-width: rem-calc(450);
}

.Hero-content span {
  color: $primary-color;
}

.Hero .Button {
  margin-top: rem-calc(10);
}

.Hero-content > .Button:not(:last-child),
.Hero-content > .ButtonsGroup:not(:last-child) {
  margin-bottom: rem-calc(5);
}
</style>
