<script>
export default {
  props: {
    widget: {
      type: Object,
      default () {
        return {};
      },
    },
  },
};
</script>


<template>
  <div class="Widget">
    <div class="Widget-header">
      <h2 class="Widget-headerTitle">
        {{ widget.config.title }}
      </h2>
    </div>
    <div class="Widget-body">
      <slot name="body"/>
    </div>
  </div>
</template>

<style lang="scss">
.Widget {
  background-color: $light-shade;
  border-radius: rem-calc(3);
  box-shadow: 0 0 rem-calc(20) transparentize($dark-shade, 0.9);
  margin-bottom: rem-calc(20);
  padding: 0 rem-calc(15) rem-calc(15);
}

.Widget:not(:last-child) {
  margin-bottom: rem-calc(20);
}

.Widget-header {
  min-height: rem-calc(15);
  padding-top: rem-calc(10);
}

.Widget-headerTitle {
  font-size: rem-calc(13);
  font-weight: 400;
}
</style>
