<template>
  <div class="ButtonsGroup">
    <slot/>
  </div>
</template>

<style lang="scss">
.ButtonsGroup {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.ButtonsGroup .Button {
  margin-bottom: 0;
  margin-right: rem-calc(10);
  margin-top: rem-calc(10);
}
</style>
