<template>
  <footer class="Footer">
    <div class="o-container">
      <p class="Footer-message">daaash - we hope you will love it</p>
    </div>
  </footer>
</template>

<style lang="scss">
.Footer {
  flex-shrink: 0;
  font-size: rem-calc(14);
  padding-bottom: rem-calc(20);
  text-align: center;
}

.Footer-message {
  margin-bottom: 0;
}
</style>
