<script>
import { mapState } from 'vuex';
import * as mobileMenuTypes from '~/store/mobile-menu/mutation-types';
import TheNav from '~/components/TheNav.vue';

export default {
  components: {
    TheNav,
  },
  computed: mapState({
    isMobileMenuOpen: state => state.isOpen,
  }),
  methods: {
    toggleMobileMenu () {
      this.$store.commit(mobileMenuTypes.TOGGLE_MOBILE_MENU);
    },
  },
};
</script>

<template>
  <header class="MainNav">
    <div class="o-container">
      <div class="MainNav-logo">
        <nuxt-link to="/">daaash</nuxt-link>
      </div>

      <div class="MainNav-navContainer">
        <TheNav/>
        <div class="MainNav-menuToggle">
          <a
          :class="{
            'MainNav-menuToggleLink': true,
            'is-open': isMobileMenuOpen,
          }"
          href="#"
          @click.prevent="toggleMobileMenu"
          >
            <span/>
            <span/>
            <span/>
          </a>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
.MainNav {
  align-items: center;
  background-color: $light-shade;
  display: flex;
  flex-shrink: 0;
  height: rem-calc(60);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.MainNav .o-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.MainNav-logo a {
  color: $primary-color;
  font-family: $header-font-family;
  font-size: rem-calc(24);
}

.MainNav-navContainer {
  @include breakpoint(medium) {
    align-items: center;
    display: flex;
  }
}

.MainNav-menuToggle {
  @include breakpoint(medium) {
    display: none;
  }
}

.MainNav-menuToggleLink {
  display: flex;
  flex-flow: column nowrap;
  height: rem-calc(32);
  justify-content: space-around;
  padding: rem-calc(4);
  width: rem-calc(32);
}

.MainNav-menuToggleLink span {
  background-color: $dark-shade;
  border-radius: rem-calc(2);
  display: block;
  height: rem-calc(3);
  transform-origin: 0 0;
  transition: opacity 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
}

.MainNav-menuToggleLink:not(.is-open) span:nth-child(1) {
  transform: scaleX(0.8);
}

.MainNav-menuToggleLink:not(.is-open):hover span:nth-child(1) {
  transform: scaleX(1);
}

.MainNav-menuToggleLink:not(.is-open) span:nth-child(3) {
  transform: scaleX(0.6);
}

.MainNav-menuToggleLink:not(.is-open):hover span:nth-child(3) {
  transform: scaleX(1);
}

.MainNav-menuToggleLink.is-open span:nth-child(1) {
  transform: translateX(rem-calc(2)) rotateZ(45deg);
}

.MainNav-menuToggleLink.is-open span:nth-child(2) {
  opacity: 0;
}

.MainNav-menuToggleLink.is-open span:nth-child(3) {
  transform: translateY(rem-calc(1)) rotateZ(-45deg);
}
</style>
