<script>
import { mapState } from 'vuex';

export default {
  computed: mapState({
    isMobileMenuOpen: state => state.mobileMenu.isOpen,
  }),
};
</script>

<template>
  <nav
  :class="{
    Nav: true,
    'is-open': isMobileMenuOpen,
  }"
  >
    <ul class="Nav-items">
      <li class="Nav-item">
        <nuxt-link
        class="Nav-itemLink"
        to="/"
        >What is daaash?</nuxt-link>
      </li>
      <li class="Nav-itemSeparator">/</li>
      <li class="Nav-item">
        <nuxt-link
        class="Nav-itemLink"
        to="/"
        >Log in</nuxt-link>
      </li>
      <li class="Nav-item">
        <nuxt-link
        class="Nav-itemLink"
        to="/"
        >Register</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss">
.Nav {
  background-color: $light-shade;
  bottom: 0;
  overflow: auto;
  padding: rem-calc(20);
  position: fixed;
  right: 0;
  top: rem-calc(60);
  transform: translateX(100%);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  width: rem-calc(300);
  z-index: 20;

  @include breakpoint(medium) {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    top: 0;
    transform: none;
    width: auto;
  }
}

.Nav.is-open {
  box-shadow: 0 rem-calc(24) rem-calc(50) transparentize($dark-shade, 0.8);
  transform: none;
}

.Nav-items {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  @include breakpoint(medium) {
    align-items: center;
    display: flex;
  }
}

.Nav-itemLink {
  color: $text-color;
  display: block;
  padding: rem-calc(5);

  @include breakpoint(medium) {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
  }
}

.Nav-itemSeparator {
  display: none;

  @include breakpoint(medium) {
    display: block;
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
  }
}
</style>
