<script>
import BaseWidget from './BaseWidget.vue';
import WidgetTodosLogic from './WidgetTodosLogic.vue';

export default {
  components: {
    BaseWidget,
    WidgetTodosLogic,
  },
  props: {
    boardId: {
      type: String,
      default: '',
    },
    widgetId: {
      type: String,
      default: '',
    },
  },
  data () {
    return {
      showCompletedTodos: false,
    };
  },
  methods: {
    getTodoIcon ({ todo }) {
      return todo.completed ? ['far', 'check-square'] : ['far', 'square'];
    },
    toggleShowCompletedTodos () {
      this.showCompletedTodos = !this.showCompletedTodos;
    },
  },
};
</script>

<template>
  <WidgetTodosLogic
  :board-id="boardId"
  :widget-id="widgetId"
  >
    <BaseWidget
    slot-scope="{
      widget,
      todos,
      completedTodos,
      uncompletedTodos,
      markTodoAsComplete,
      markTodoAsIncomplete,
    }"
    :widget="widget"
    class="WidgetTodos"
    >
      <template slot="body">
        <div
        v-for="todo in uncompletedTodos"
        :class="{
          'WidgetTodos-item': true,
        }"
        :key="todo.id"
        >
          <div class="WidgetTodos-itemActions">
            <div class="WidgetTodos-itemActionToggle">
              <BaseIcon
              :icon="getTodoIcon({ todo })"
              />
              <a
              class="WidgetTodos-itemActionToggleLink"
              href="#"
              @click.prevent="markTodoAsComplete({ todoId: todo.id })"
              />
            </div>
          </div>

          <div class="WidgetTodos-itemBody">
            <header class="WidgetTodos-itemHeader">
              <a
              v-if="todo.url"
              :href="todo.url"
              class="WidgetTodos-itemHeaderLink"
              target="_blank"
              rel="noopener"
              >
                <h3 class="WidgetTodos-itemHeaderTitle">
                  {{ todo.title }}
                </h3>
              </a>
              <template v-else>
                <h3 class="WidgetTodos-itemHeaderTitle">
                  {{ todo.title }}
                </h3>
              </template>
            </header>
          </div>
        </div>
        <a
        v-if="completedTodos.length"
        class="WidgetTodos-showUncompletedTodos"
        href="#"
        @click.prevent="toggleShowCompletedTodos"
        >{{ showCompletedTodos ? 'Hide completed' : 'Show completed' }}</a>
        <div
        v-if="showCompletedTodos"
        class="WidgetTodos-incompleteTodos"
        >
          <div
          v-for="todo in completedTodos"
          :class="{
            'WidgetTodos-item': true,
            'WidgetTodos-item--completed': true,
          }"
          :key="todo.id"
          >
            <div class="WidgetTodos-itemActions">
              <div class="WidgetTodos-itemActionToggle">
                <BaseIcon
                :icon="getTodoIcon({ todo })"
                />
                <a
                class="WidgetTodos-itemActionToggleLink"
                href="#"
                @click.prevent="markTodoAsIncomplete({ todoId: todo.id })"
                />
              </div>
            </div>

            <div class="WidgetTodos-itemBody">
              <header class="WidgetTodos-itemHeader">
                <a
                :href="todo.url"
                class="WidgetTodos-itemHeaderLink"
                target="_blank"
                rel="noopener"
                >
                  <h3 class="WidgetTodos-itemHeaderTitle">
                    {{ todo.title }}
                  </h3>
                </a>
              </header>
            </div>
          </div>
        </div>
      </template>
    </BaseWidget>
  </WidgetTodosLogic>
</template>

<style lang="scss">
.WidgetTodos-item {
  display: grid;
  grid-column-gap: rem-calc(10);
  grid-template-columns: rem-calc(20) auto;
}

.WidgetTodos-item:not(:first-child) {
  margin-top: rem-calc(10);
}

.WidgetTodos-itemActionToggle {
  font-size: rem-calc(20);
  line-height: 1;
  position: relative;
}

.WidgetTodos-itemActionToggleLink {
  display: block;
  height: rem-calc(32);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: rem-calc(32);
}

.WidgetTodos-itemActionToggle svg {
  vertical-align: top;
}

.WidgetTodos-itemHeaderTitle {
  font-size: rem-calc(16);
  font-weight: 400;
  margin-bottom: rem-calc(5);
}

.WidgetTodos-item--completed .WidgetTodos-itemHeaderTitle {
  text-decoration: line-through;
}

.WidgetTodos-showUncompletedTodos {
  color: $text-color;
  display: block;
  font-size: rem-calc(14);
  text-align: center;
}

.WidgetTodos-item + .WidgetTodos-showUncompletedTodos {
  margin-top: rem-calc(10);
}

.WidgetTodos-incompleteTodos {
  margin-top: rem-calc(10);
}
</style>
