<script>
import BaseWidget from './BaseWidget.vue';
import WidgetRssFeedLogic from './WidgetRssFeedLogic.vue';

export default {
  components: {
    BaseWidget,
    WidgetRssFeedLogic,
  },
  props: {
    boardId: {
      type: String,
      default: '',
    },
    widgetId: {
      type: String,
      default: '',
    },
  },
  methods: {
    isLargeArticle ({ widget, index }) {
      return index + 1 <= widget.config.largeArticlesCount;
    },
  },
};
</script>

<template>
  <WidgetRssFeedLogic
  :board-id="boardId"
  :widget-id="widgetId"
  >
    <BaseWidget
    slot-scope="{ widget, articles }"
    :widget="widget"
    class="WidgetRssFeed"
    >
      <template slot="body">
        <article
        v-for="(article, i) in articles"
        :class="{
          'WidgetRssFeed-article': true,
          'WidgetRssFeed-article--simple': !isLargeArticle({ widget, index: i }),
        }"
        :key="article.id"
        >
          <div
          v-if="article.image && isLargeArticle({ widget, index: i })"
          class="WidgetRssFeed-articleMedia"
          >
            <div
            :style="{
              'background-image': `url(${article.image})`,
            }"
            class="WidgetRssFeed-articleMediaImage"
            />
          </div>

          <div class="WidgetRssFeed-articleBody">
            <header class="WidgetRssFeed-articleHeader">
              <a
              :href="article.url"
              class="WidgetRssFeed-articleMediaLink"
              target="_blank"
              rel="noopener"
              >
                <h3 class="WidgetRssFeed-articleHeaderTitle">
                  {{ article.title }}
                </h3>
              </a>
            </header>
            <div
            v-if="isLargeArticle({ widget, index: i })"
            class="WidgetRssFeed-articleContent"
            >
              <p>{{ article.content }}</p>
            </div>
          </div>
        </article>
      </template>
    </BaseWidget>
  </WidgetRssFeedLogic>
</template>

<style lang="scss">
.WidgetRssFeed-article {
  display: grid;
  grid-column-gap: rem-calc(10);
  grid-template-columns: rem-calc(60) auto;
}

.WidgetRssFeed-article:not(:last-child) {
  margin-bottom: rem-calc(10);
}

.WidgetRssFeed-articleMediaImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: rem-calc(3);
  padding-top: 100%;
}

.WidgetRssFeed-articleHeaderTitle {
  font-size: rem-calc(16);
  font-weight: 400;
  margin-bottom: rem-calc(5);
}

.WidgetRssFeed-article--simple .WidgetRssFeed-articleHeaderTitle {
  padding-left: rem-calc(20);
  position: relative;
}

.WidgetRssFeed-article--simple .WidgetRssFeed-articleHeaderTitle::before {
  background-color: $primary-color;
  border-radius: 50%;
  content: '';
  height: rem-calc(5);
  left: rem-calc(3);
  position: absolute;
  top: rem-calc(6);
  width: rem-calc(5);
}

.WidgetRssFeed-article--simple .WidgetRssFeed-articleBody {
  grid-column-start: span 2;
}

.WidgetRssFeed-articleContent {
  font-size: rem-calc(14);
}

.WidgetRssFeed-articleContent p:last-child {
  margin-bottom: 0;
}
</style>
