<script>
import BaseBoard from '~/components/BaseBoard.vue';

export default {
  components: {
    BaseBoard,
  },
};
</script>

<template>
  <div class="BoardPage">
    <BaseBoard
    :board-id="'28041531-a0f8-4a8f-995f-2512f2363d4b'"
    />
  </div>
</template>
