<script>
import BaseButton from '~/components/BaseButton.vue';
import BaseFeatures from '~/components/BaseFeatures.vue';
import BaseHero from '~/components/BaseHero.vue';
import ButtonsGroup from '~/components/ButtonsGroup.vue';

export default {
  components: {
    BaseButton,
    BaseFeatures,
    BaseHero,
    ButtonsGroup,
  },
};
</script>

<template>
  <div class="IndexPage">
    <BaseHero>
      <template slot="title">
        <h1>
          The Start Page for Tech Folks
        </h1>
      </template>
      <template slot="content">
        <p>
          Save time by having what matters to you in one place - your <span>daaash</span> board
        </p>
        <ButtonsGroup>
          <BaseButton
          :css-classes="{
            Button: true,
            'Button--secondary': true,
          }"
          :href="'/board'"
          >
            Go to your board
          </BaseButton>
          <BaseButton
          :css-classes="{
            Button: true,
            'Button--empty': true,
          }"
          :href="'/board'"
          >
            or Learn more
          </BaseButton>
        </ButtonsGroup>
        <p>
          <small>Free to use. No registration necessary!</small>
        </p>
      </template>
    </BaseHero>
    <div class="IndexPage-features">
      <svg
      class="IndexPage-featuresBgTop"
      preserveAspectRatio="none"
      viewBox="0 0 40 2"
      xmlns="http://www.w3.org/2000/svg"
      >
        <path
        d="M40 1.995C32.704.4 26.038.015 20 .838S7.296 2.048 0 1.995V0h40v1.995z"
        fill-rule="evenodd"
        />
      </svg>
      <div class="o-container">
        <BaseFeatures
        :features="[
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
          {
            title: '10+ Useful Widgets',
            description:
              `... and counting! We are working hard to bring you the most
              requested and useful widgets.`,
            icon: 'rocket',
          },
        ]"
        :title="'daaash Features'"
        >
          <template slot="footer">
            <p>And many more... it's easiest if you take a look yourself</p>
            <BaseButton
            :css-classes="{
              Button: true,
              'Button--secondary': true,
            }"
            :href="'/board'"
            >
              Go to your board
            </BaseButton>
          </template>
        </BaseFeatures>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.IndexPage-features {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $light-accent 100%
  );
  color: $light-shade;
  padding-top: rem-calc(40);
  position: relative;
}

.IndexPage-featuresBgTop {
  fill: $light-shade;
  height: rem-calc(40);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
