// -----------------------------------------------------------------------------
// Base app styles
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $light-shade;
  color: $text-color;
  height: 100%;
}

#__nuxt {
  display: flex;
  min-height: 100%;
}

#__layout {
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
