// -----------------------------------------------------------------------------
// Objects
// -----------------------------------------------------------------------------

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: rem-calc(1440);
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  width: 100%;
}
