// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

body {
  font-family: $body-font-family;
  line-height: 1.5;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

a:hover,
a:focus {
  color: $light-accent;
}

p {
  margin-bottom: rem-calc(10);
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: $header-font-family;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: rem-calc(20);
  margin-top: 0;
}

h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: rem-calc(10);
  margin-top: 0;
}

h1 {
  font-size: rem-calc(30);
}

h2 {
  font-size: rem-calc(26);
}

h3 {
  font-size: rem-calc(24);
}

h4 {
  font-size: rem-calc(16);
}
