// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$light-borders: #eeeeee;
$primary-color: #e66767;
$secondary-color: #303952;
$light-accent: #ea8685;
$light-shade: #fbfbfc;
$dark-accent: #777986;
$dark-shade: #2c3760;
$text-color: #333333;

$body-font-family: 'usual', sans-serif;
$header-font-family: 'usual', sans-serif;

$breakpoints: (
  'supertiny': '(min-width: 360px)',
  'tiny': '(min-width: 412px)',
  'smallish': '(min-width: 568px)',
  'small': '(min-width: 768px)',
  'medium': '(min-width: 1024px)',
  'large': '(min-width: 1440px)',
  'verylarge': '(min-width: 1920px)',
) !default;
